---
const { dir, pagination } = Astro.locals.starlightRoute;
const { prev, next } = pagination;
const isRtl = dir === 'rtl';

const leftArrowPath =
	'M17 11H9.41l3.3-3.29a1.004 1.004 0 1 0-1.42-1.42l-5 5a1 1 0 0 0-.21.33 1 1 0 0 0 0 .76 1 1 0 0 0 .21.33l5 5a1.002 1.002 0 0 0 1.639-.325 1 1 0 0 0-.219-1.095L9.41 13H17a1 1 0 0 0 0-2Z';
const rightArrowPath =
	'M17.92 11.62a1.001 1.001 0 0 0-.21-.33l-5-5a1.003 1.003 0 1 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1.002 1.002 0 0 0 .325 1.639 1 1 0 0 0 1.095-.219l5-5a1 1 0 0 0 .21-.33 1 1 0 0 0 0-.76Z';
---

<div class="pagination-links print:hidden" dir={dir}>
	{
		prev && (
			<a href={prev.href} rel="prev" class="pagination-link pagination-link--prev">
				<span class="pagination-label-row">
					<span class="pagination-label">{Astro.locals.t('page.previousLink')}</span>
					<svg aria-hidden="true" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
						<path d={isRtl ? rightArrowPath : leftArrowPath} />
					</svg>
				</span>
				<span class="link-title">{prev.label}</span>
			</a>
		)
	}
	{
		next && (
			<a href={next.href} rel="next" class="pagination-link pagination-link--next">
				<span class="pagination-label-row">
					<svg aria-hidden="true" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
						<path d={isRtl ? leftArrowPath : rightArrowPath} />
					</svg>
					<span class="pagination-label">{Astro.locals.t('page.nextLink')}</span>
				</span>
				<span class="link-title">{next.label}</span>
			</a>
		)
	}
</div>
